.row {
  margin-bottom: 10px ;
}

td.actions {
  text-align: center;
  line-height: 2!important;
}

.table_image {
  max-height: 60px;
}

.new {
  padding: 4px;
  background-color: $status_new;
  border-radius: 2px;
  color: white;
}

